:root {
  --_7ckc3k0: Helvetica, arial, sans-serif;
  --_7ckc3k1: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --_7ckc3k2: normal 10px Helvetica, arial, sans-serif;
  --_7ckc3k3: normal 12px Helvetica, arial, sans-serif;
  --_7ckc3k4: normal 14px Helvetica, arial, sans-serif;
  --_7ckc3k5: normal 16px/1.3em Helvetica, arial, sans-serif;
  --_7ckc3k6: 100;
  --_7ckc3k7: 700;
  --_7ckc3k8: 4px;
  --_7ckc3k9: 2px;
  --_7ckc3ka: 4px;
  --_7ckc3kb: 6px;
  --_7ckc3kc: 100%;
  --_7ckc3kd: 70px;
  --_7ckc3ke: 44px;
  --_7ckc3kf: opacity 300ms ease, transform 300ms ease;
  --_7ckc3kg: opacity 200ms ease, transform 200ms ease;
  --_7ckc3kh: opacity 100ms ease, transform 100ms ease;
  --_7ckc3ki: 0;
  --_7ckc3kj: 2px;
  --_7ckc3kk: 4px;
  --_7ckc3kl: 6px;
  --_7ckc3km: 12px;
  --_7ckc3kn: 16px;
  --_7ckc3ko: 20px;
  --_7ckc3kp: 40px;
}
:root {
  --_7ckc3kq: #000;
  --_7ckc3kr: #040080;
  --_7ckc3ks: #005ad2;
  --_7ckc3kt: #00439c;
  --_7ckc3ku: #00439c;
  --_7ckc3kv: #0088ff;
  --_7ckc3kw: #75438a;
  --_7ckc3kx: #a7a7a7;
  --_7ckc3ky: #515151;
  --_7ckc3kz: #fff;
  --_7ckc3k10: #a7a7a7;
  --_7ckc3k11: #cd193d;
  --_7ckc3k12: #005ad2;
  --_7ckc3k13: #1da584;
  --_7ckc3k14: rgba(0, 0, 0, .05);
  --_7ckc3k15: #005ad2;
  --_7ckc3k16: #c5f5e9;
  --_7ckc3k17: #fee1e9;
  --_7ckc3k18: #1e1e1e;
  --_7ckc3k19: #fff;
  --_7ckc3k1a: #f4f4f4;
  --_7ckc3k1b: #e5f3ff;
  --_7ckc3k1c: #e8e8e8;
  --_7ckc3k1d: 0 2px 8px rgba(18, 21, 26, 0.3);
  --_7ckc3k1e: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --_7ckc3kq: #f6f8fa;
  --_7ckc3kr: #c8e1f7;
  --_7ckc3ks: #68aeea;
  --_7ckc3kt: #97c8f1;
  --_7ckc3ku: #97c8f1;
  --_7ckc3kv: #3e8fe0;
  --_7ckc3kw: #aa83f2;
  --_7ckc3kx: #3d4b63;
  --_7ckc3ky: #f6f8fa;
  --_7ckc3kz: #000;
  --_7ckc3k10: #828ea4;
  --_7ckc3k11: #fa6b6c;
  --_7ckc3k12: #3e8fe0;
  --_7ckc3k13: #28b888;
  --_7ckc3k14: rgba(0, 0, 0, .15);
  --_7ckc3k15: #3e8fe0;
  --_7ckc3k16: #195546;
  --_7ckc3k17: #4c1a20;
  --_7ckc3k18: #1c2230;
  --_7ckc3k19: #0f131b;
  --_7ckc3k1a: #0a0c11;
  --_7ckc3k1b: rgba(41,111,192,0.15);
  --_7ckc3k1c: #1c2230;
  --_7ckc3k1d: 0 0 10px -2px #2d3648;
  --_7ckc3k1e: 0 0 0 5px rgba(104,174,234,0.4);
}
._7ckc3k1f {
  position: absolute;
}
._7ckc3k1g {
  position: relative;
}
._7ckc3k1h {
  position: fixed;
}
._7ckc3k1i {
  top: 0;
}
._7ckc3k1j {
  bottom: 0;
}
._7ckc3k1k {
  left: 0;
}
._7ckc3k1l {
  right: 0;
}
._7ckc3k1m {
  display: none;
}
._7ckc3k1n {
  display: flex;
}
._7ckc3k1o {
  display: block;
}
._7ckc3k1p {
  display: inline;
}
._7ckc3k1q {
  flex-direction: row;
}
._7ckc3k1r {
  flex-direction: column;
}
._7ckc3k1s {
  flex-direction: row-reverse;
}
._7ckc3k1t {
  flex-wrap: wrap;
}
._7ckc3k1u {
  justify-content: stretch;
}
._7ckc3k1v {
  justify-content: flex-start;
}
._7ckc3k1w {
  justify-content: center;
}
._7ckc3k1x {
  justify-content: flex-end;
}
._7ckc3k1y {
  justify-content: space-around;
}
._7ckc3k1z {
  justify-content: space-between;
}
._7ckc3k20 {
  align-items: stretch;
}
._7ckc3k21 {
  align-items: flex-start;
}
._7ckc3k22 {
  align-items: center;
}
._7ckc3k23 {
  align-items: flex-end;
}
._7ckc3k24 {
  padding-top: var(--_7ckc3ki);
}
._7ckc3k25 {
  padding-top: var(--_7ckc3kj);
}
._7ckc3k26 {
  padding-top: var(--_7ckc3kk);
}
._7ckc3k27 {
  padding-top: var(--_7ckc3kl);
}
._7ckc3k28 {
  padding-top: var(--_7ckc3km);
}
._7ckc3k29 {
  padding-top: var(--_7ckc3kn);
}
._7ckc3k2a {
  padding-top: var(--_7ckc3ko);
}
._7ckc3k2b {
  padding-top: var(--_7ckc3kp);
}
._7ckc3k2c {
  padding-bottom: var(--_7ckc3ki);
}
._7ckc3k2d {
  padding-bottom: var(--_7ckc3kj);
}
._7ckc3k2e {
  padding-bottom: var(--_7ckc3kk);
}
._7ckc3k2f {
  padding-bottom: var(--_7ckc3kl);
}
._7ckc3k2g {
  padding-bottom: var(--_7ckc3km);
}
._7ckc3k2h {
  padding-bottom: var(--_7ckc3kn);
}
._7ckc3k2i {
  padding-bottom: var(--_7ckc3ko);
}
._7ckc3k2j {
  padding-bottom: var(--_7ckc3kp);
}
._7ckc3k2k {
  padding-left: var(--_7ckc3ki);
}
._7ckc3k2l {
  padding-left: var(--_7ckc3kj);
}
._7ckc3k2m {
  padding-left: var(--_7ckc3kk);
}
._7ckc3k2n {
  padding-left: var(--_7ckc3kl);
}
._7ckc3k2o {
  padding-left: var(--_7ckc3km);
}
._7ckc3k2p {
  padding-left: var(--_7ckc3kn);
}
._7ckc3k2q {
  padding-left: var(--_7ckc3ko);
}
._7ckc3k2r {
  padding-left: var(--_7ckc3kp);
}
._7ckc3k2s {
  padding-right: var(--_7ckc3ki);
}
._7ckc3k2t {
  padding-right: var(--_7ckc3kj);
}
._7ckc3k2u {
  padding-right: var(--_7ckc3kk);
}
._7ckc3k2v {
  padding-right: var(--_7ckc3kl);
}
._7ckc3k2w {
  padding-right: var(--_7ckc3km);
}
._7ckc3k2x {
  padding-right: var(--_7ckc3kn);
}
._7ckc3k2y {
  padding-right: var(--_7ckc3ko);
}
._7ckc3k2z {
  padding-right: var(--_7ckc3kp);
}
._7ckc3k30 {
  margin-top: var(--_7ckc3ki);
}
._7ckc3k31 {
  margin-top: var(--_7ckc3kj);
}
._7ckc3k32 {
  margin-top: var(--_7ckc3kk);
}
._7ckc3k33 {
  margin-top: var(--_7ckc3kl);
}
._7ckc3k34 {
  margin-top: var(--_7ckc3km);
}
._7ckc3k35 {
  margin-top: var(--_7ckc3kn);
}
._7ckc3k36 {
  margin-top: var(--_7ckc3ko);
}
._7ckc3k37 {
  margin-top: var(--_7ckc3kp);
}
._7ckc3k38 {
  margin-bottom: var(--_7ckc3ki);
}
._7ckc3k39 {
  margin-bottom: var(--_7ckc3kj);
}
._7ckc3k3a {
  margin-bottom: var(--_7ckc3kk);
}
._7ckc3k3b {
  margin-bottom: var(--_7ckc3kl);
}
._7ckc3k3c {
  margin-bottom: var(--_7ckc3km);
}
._7ckc3k3d {
  margin-bottom: var(--_7ckc3kn);
}
._7ckc3k3e {
  margin-bottom: var(--_7ckc3ko);
}
._7ckc3k3f {
  margin-bottom: var(--_7ckc3kp);
}
._7ckc3k3g {
  margin-left: var(--_7ckc3ki);
}
._7ckc3k3h {
  margin-left: var(--_7ckc3kj);
}
._7ckc3k3i {
  margin-left: var(--_7ckc3kk);
}
._7ckc3k3j {
  margin-left: var(--_7ckc3kl);
}
._7ckc3k3k {
  margin-left: var(--_7ckc3km);
}
._7ckc3k3l {
  margin-left: var(--_7ckc3kn);
}
._7ckc3k3m {
  margin-left: var(--_7ckc3ko);
}
._7ckc3k3n {
  margin-left: var(--_7ckc3kp);
}
._7ckc3k3o {
  margin-right: var(--_7ckc3ki);
}
._7ckc3k3p {
  margin-right: var(--_7ckc3kj);
}
._7ckc3k3q {
  margin-right: var(--_7ckc3kk);
}
._7ckc3k3r {
  margin-right: var(--_7ckc3kl);
}
._7ckc3k3s {
  margin-right: var(--_7ckc3km);
}
._7ckc3k3t {
  margin-right: var(--_7ckc3kn);
}
._7ckc3k3u {
  margin-right: var(--_7ckc3ko);
}
._7ckc3k3v {
  margin-right: var(--_7ckc3kp);
}
._7ckc3k3w {
  overflow: hidden;
}
._7ckc3k3x {
  overflow: auto;
}
._7ckc3k3y {
  box-shadow: var(--_7ckc3k1d);
}
._7ckc3k3z {
  box-shadow: var(--_7ckc3k1e);
}
._7ckc3k40 {
  border-radius: var(--_7ckc3k9);
}
._7ckc3k41 {
  border-radius: var(--_7ckc3ka);
}
._7ckc3k42 {
  border-radius: var(--_7ckc3kb);
}
._7ckc3k43 {
  border-radius: var(--_7ckc3kc);
}
._7ckc3k44 {
  transition: var(--_7ckc3kf);
}
._7ckc3k45 {
  transition: var(--_7ckc3kg);
}
._7ckc3k46 {
  transition: var(--_7ckc3kh);
}
._7ckc3k47 {
  cursor: pointer;
}
._7ckc3k48 {
  pointer-events: none;
}
._7ckc3k49 {
  pointer-events: auto;
}
._7ckc3k4a {
  user-select: none;
}
._7ckc3k4b {
  appearance: none;
}
._7ckc3k4c {
  opacity: 0;
}
._7ckc3k4d {
  z-index: 0;
}
._7ckc3k4e {
  z-index: 1;
}
._7ckc3k4f {
  font: var(--_7ckc3k2);
}
._7ckc3k4g {
  font: var(--_7ckc3k3);
}
._7ckc3k4h {
  font: var(--_7ckc3k4);
}
._7ckc3k4i {
  font: var(--_7ckc3k5);
}
._7ckc3k4j {
  font-weight: var(--_7ckc3k6);
}
._7ckc3k4k {
  font-weight: var(--_7ckc3k7);
}
._7ckc3k4l {
  width: 100%;
}
._7ckc3k4m {
  width: 100vw;
}
._7ckc3k4n {
  height: 100%;
}
._7ckc3k4o {
  height: 100vh;
}
._7ckc3k4p {
  white-space: nowrap;
}
._7ckc3k4q {
  box-sizing: border-box;
}
._7ckc3k4r {
  text-align: center;
}
._7ckc3k4s {
  text-align: left;
}
._7ckc3k4t {
  text-align: right;
}
._7ckc3k4u {
  border: 0;
}
._6sibzg1 {
  color: var(--_7ckc3ky);
}
._6sibzg2 {
  color: var(--_7ckc3k11);
}
._6sibzg9 {
  text-overflow: ellipsis;
}
._185rg2b1 {
  overflow-x: auto;
  overflow-y: hidden;
}
._185rg2b1::before {
  content: "";
  flex: 1;
}
._185rg2b1::after {
  content: "";
  flex: 1;
}
._185rg2b5 {
  flex-grow: 1;
}
._185rg2b7:not(:hover) {
  opacity: 0.8;
}
._185rg2b9 {
  flex: 0 0 30px;
  height: 30px;
  margin-bottom: -10px;
}
._185rg2b3:not(:hover) ._185rg2b9 {
  opacity: 0.3;
}
._1e6uoo91 {
  color: var(--_7ckc3ky);
  font-family: var(--_7ckc3k0);
}
._1e6uoo92 {
  font-size: 36px;
}
._1e6uoo93 {
  font-size: 24px;
}
._1e6uoo94 {
  font-size: 16px;
}
.y3bgy02 {
  border-top: 1px solid var(--_7ckc3k1c);
}
.e78hil1:not(:last-child) {
  padding-bottom: var(--e78hil0);
}
.e78hil2 {
  --e78hil0: var(--_7ckc3k8);
}
.e78hil3 {
  --e78hil0: calc(var(--_7ckc3k8) * 2);
}
.e78hil4 {
  --e78hil0: calc(var(--_7ckc3k8) * 3);
}
.e78hil5 {
  --e78hil0: calc(var(--_7ckc3k8) * 4);
}
.e78hil6 {
  --e78hil0: calc(var(--_7ckc3k8) * 6);
}
.e78hil7 {
  --e78hil0: calc(var(--_7ckc3k8) * 12);
}
._1errh3l2 {
  color: currentColor;
  background-color: transparent;
  outline: none;
  text-decoration: underline;
  margin: calc(var(--_7ckc3kl) * -1);
}
._1errh3l2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_7ckc3kb);
  box-shadow: var(--_7ckc3k1e);
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);
  transition: var(--_7ckc3kg);
}
._1errh3l2:focus::before, ._1errh3l2:hover::before {
  opacity: 1;
  transform: scale(1);
}
._1errh3l4 {
  height: calc(var(--_7ckc3k8) * 9);
}
._1errh3l6 {
  height: 20px;
  width: 20px;
}
._1errh3l8 {
  flex-grow: 0;
  flex-shrink: 0;
  height: calc(20px - (var(--_7ckc3kj) * 2));
  width: calc(20px - (var(--_7ckc3kj) * 2));
}
._1errh3l8::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_7ckc3ka);
  box-shadow: var(--_7ckc3k1e);
  transition: var(--_7ckc3kg);
  opacity: 0;
  transform: scale(0.5);
}
._1errh3l8::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--_7ckc3ka);
  box-shadow: inset 0 0 0px 1px currentColor;
  background: var(--_7ckc3k19);
}
._1errh3l6:hover:not(:focus) ~ ._1errh3l8::before, ._1errh3l6:focus ~ ._1errh3l8::before {
  opacity: 1;
  transform: scale(1);
}
._1errh3l8 > svg {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  transition: var(--_7ckc3kh);
  transition-delay: 0.1s, 0.3s;
  z-index: 1;
}
._1errh3l6:checked ~ ._1errh3l8 > svg  {
  opacity: 1;
  transform: none;
  transition: var(--_7ckc3kh);
}
.kngunk0 {
  transition: var(--_7ckc3kg);
  transform-origin: 50% 50%;
}
.kngunk1 {
  transform: rotate(90deg);
}
.kngunk2 {
  transform: rotate(180deg);
}
.kngunk3 {
  transform: rotate(270deg);
}
.cze0it4 {
  min-width: 0;
}
.cze0it5 {
  flex-shrink: 0;
}
.cze0it9 {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}
.cze0it7:focus:not(:hover) ~ .cze0it9 {
  opacity: 1;
}
.m23p8o1 {
  background: transparent;
  outline: none;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: var(--_7ckc3ke);
  -webkit-tap-highlight-color: transparent;
}
.m23p8o4 {
  --m23p8o2: currentColor;
  color: var(--m23p8o2);
  border: 1px solid var(--_7ckc3kx);
  height: calc(var(--_7ckc3k8) * 9);
}
.m23p8o4:hover {
  --m23p8o2: var(--_7ckc3k12);
  border-color: var(--m23p8o2);
}
.m23p8o4:active {
  transform: scale(0.98);
}
.m23p8o4::after {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  min-height: var(--_7ckc3ke);
  min-width: var(--_7ckc3ke);
  left: calc((var(--_7ckc3k8) * 2) * -1);
  right: calc((var(--_7ckc3k8) * 2) * -1);
  height: 100%;
  top: 50%;
}
.m23p8o4:focus:not(:active):not(:hover):not([disabled]) {
  box-shadow: var(--_7ckc3k1e);
}
.m23p8o5 {
  --m23p8o2: var(--_7ckc3k13) !important;
  border-color: var(--m23p8o2);
}
.m23p8o7 {
  top: 1px;
}
.eyo9mg2 {
  margin-top: calc(var(--eyo9mg0) * -1);
  margin-left: calc(var(--eyo9mg0) * -1);
}
.eyo9mg3 {
  padding-top: var(--eyo9mg0);
  padding-left: var(--eyo9mg0);
}
.eyo9mg4 {
  --eyo9mg0: var(--_7ckc3k8);
}
.eyo9mg5 {
  --eyo9mg0: calc(var(--_7ckc3k8) * 2);
}
.eyo9mg6 {
  --eyo9mg0: calc(var(--_7ckc3k8) * 3);
}
.eyo9mg7 {
  --eyo9mg0: calc(var(--_7ckc3k8) * 4);
}
.eyo9mg8 {
  --eyo9mg0: calc(var(--_7ckc3k8) * 5);
}
.eyo9mg9 {
  --eyo9mg0: calc(var(--_7ckc3k8) * 6);
}
._1f48ijd1 {
  color: var(--_7ckc3ky);
  height: var(--_7ckc3ke);
  background: var(--_7ckc3k19);
}
._1f48ijd1:focus {
  outline: none;
}
._1f48ijd1::placeholder {
  color: var(--_7ckc3kx);
}
._19rfgyw5 {
  outline: none;
  height: 60px;
  width: 60px;
  color: currentColor;
  background-color: var(--_7ckc3k19);
  -webkit-tap-highlight-color: transparent;
}
._19rfgyw5::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_7ckc3k1b);
  opacity: 0;
  transition: var(--_7ckc3kf);
  pointer-events: none;
}
._19rfgyw5::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5px;
  background-color: currentColor;
  transition: var(--_7ckc3kf);
}
._19rfgyw5._19rfgyw0 {
  color: var(--_7ckc3k13);
}
._19rfgyw5:not(._19rfgyw1) {
  cursor: pointer;
}
._19rfgyw5._19rfgyw1 {
  color: var(--_7ckc3kx);
}
._19rfgyw5._19rfgyw2,._19rfgyw5._19rfgyw3:not(._19rfgyw0):not(._19rfgyw1),html:not([data-playroom-dark]) ._19rfgyw5:hover:not(._19rfgyw0):not(._19rfgyw1) {
  color: var(--_7ckc3k12);
}
._19rfgyw5:not(._19rfgyw0):not(:hover):focus::before {
  color: var(--_7ckc3ky);
}
._19rfgyw5:not(._19rfgyw0):not(._19rfgyw1):focus::before,._19rfgyw5:not(._19rfgyw0):not(._19rfgyw1):hover::before {
  opacity: 1;
}
._19rfgyw5:not(._19rfgyw3)::after {
  transform: translateX(100%);
  opacity: 0;
}
._19rfgyw8 {
  top: 12px;
  right: 12px;
  height: 10px;
  width: 10px;
  background-color: var(--_7ckc3k15);
  border: 2px solid var(--_7ckc3k19);
}
._19rfgyw8:not(._19rfgyw6) {
  transform: scale(0);
  opacity: 0;
}
._19rfgywa {
  top: 12px;
  right: 12px;
  height: 14px;
  width: 14px;
  background-color: var(--_7ckc3k13);
  border: 2px solid var(--_7ckc3k19);
}
._19rfgywa:not(._19rfgyw6) {
  transform: translate3d(-15px, 9px, 0) scale(0);
  opacity: 0;
}
._19rfgywa svg {
  color: var(--_7ckc3kz);
}
._1ad05mv2 {
  height: 60px;
  box-shadow: inset 0 -1px 0 0 var(--_7ckc3k1c);
}
._1ad05mv4 {
  top: 60px;
}
._1ad05mv6 {
  color: var(--_7ckc3ky);
  background-color: var(--_7ckc3k19);
}
._1ad05mv6::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_7ckc3k1b);
  border-radius: var(--_7ckc3ka);
  opacity: 0;
  transition: var(--_7ckc3kf);
  pointer-events: none;
}
._1ad05mv8 {
  color: var(--_7ckc3k10);
}
._1ad05mv9 {
  color: var(--_7ckc3k12);
}
._1ad05mv9::before {
  opacity: 1;
}
._177lbj62 {
  color: var(--_7ckc3ky);
  min-width: calc(60px + 1px);
}
._177lbj62._177lbj60 {
  width: 100vw;
}
._177lbj68 {
  bottom: 60px;
}
._177lbj68:not(._177lbj66) {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
}
._177lbj6a {
  width: 60px;
  background-color: var(--_7ckc3k19);
  border-left: 1px solid var(--_7ckc3k1c);
}
._177lbj6c {
  width: 300px;
  background-color: var(--_7ckc3k19);
  border-left: 1px solid var(--_7ckc3k1c);
}
._177lbj62:not(._177lbj60) ._177lbj6c {
  transform: translateX(calc(300px * 0.3));
  opacity: 0;
  pointer-events: none;
}
._1o3s3783 {
  height: var(--_7ckc3ke);
  width: var(--_7ckc3ke);
}
._1o3s3786 {
  height: var(--_7ckc3ke);
  width: var(--_7ckc3ke);
}
._1o3s3786::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--_7ckc3k1b);
  border-radius: var(--_7ckc3kb);
  transition: var(--_7ckc3kg);
  opacity: 0;
  transform: scale(0.8);
}
._1o3s3783:checked ~ ._1o3s3786,html:not([data-playroom-dark]) ._1o3s3783:hover ~ ._1o3s3786 {
  color: var(--_7ckc3k12);
}
._1o3s3783:focus ~ ._1o3s3786::before, ._1o3s3783:hover ~ ._1o3s3786::before {
  opacity: 1;
  transform: scale(1);
}
._17ujg6r5 {
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
  top: calc(var(--_7ckc3k8) * 5);
  height: calc(var(--_7ckc3k8) * 8);
  max-width: calc((100vw - 60px) - (var(--_7ckc3kd) * 2));
}
._17ujg6r5._17ujg6r0 {
  padding-right: calc((15px * 2) + 16px);
}
._17ujg6r5:not(._17ujg6r1) {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(-50%, -10px, 0);
}
._17ujg6r5._17ujg6r2 {
  background-color: var(--_7ckc3k16);
}
._17ujg6r5._17ujg6r3 {
  background-color: var(--_7ckc3k17);
}
._17ujg6r7 {
  padding-left: 15px;
  right: 15px;
  height: 16px;
  width: 16px;
}
._17ujg6r7:not(:hover) {
  opacity: 0.4;
}
/* BASICS */

.CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font-family: monospace;
  height: 300px;
  color: black;
  direction: ltr;
}

/* PADDING */

.CodeMirror-lines {
  padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
  border-left: 1px solid black;
  border-right: none;
  width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1;
}
.cm-fat-cursor .CodeMirror-line::selection,
.cm-fat-cursor .CodeMirror-line > span::selection, 
.cm-fat-cursor .CodeMirror-line > span > span::selection { background: transparent; }
.cm-fat-cursor .CodeMirror-line::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span::-moz-selection,
.cm-fat-cursor .CodeMirror-line > span > span::-moz-selection { background: transparent; }
.cm-fat-cursor { caret-color: transparent; }
@-moz-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@-webkit-keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}
@keyframes blink {
  0% {}
  50% { background-color: transparent; }
  100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
  position: absolute;
  left: 0; right: 0; top: -50px; bottom: 0;
  overflow: hidden;
}
.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0; bottom: 0;
  position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0b0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #a22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: white;
}

.CodeMirror-scroll {
  overflow: scroll !important; /* Things will break if this is overridden */
  /* 50px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -50px; margin-right: -50px;
  padding-bottom: 50px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  z-index: 0;
}
.CodeMirror-sizer {
  position: relative;
  border-right: 50px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
  outline: none;
}
.CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

.CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  min-height: 100%;
  z-index: 3;
}
.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -50px;
}
.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important;
}
.CodeMirror-gutter-background {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 4;
}
.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: 0.1px; /* Force widget margins to stay inside of the container */
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
  outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3;
}
div.CodeMirror-dragcursors {
  visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

/* neo theme for codemirror */

/* Color scheme */

.cm-s-neo.CodeMirror {
  background-color:#ffffff;
  color:#2e383c;
  line-height:1.4375;
}
.cm-s-neo .cm-comment { color:#75787b; }
.cm-s-neo .cm-keyword, .cm-s-neo .cm-property { color:#1d75b3; }
.cm-s-neo .cm-atom,.cm-s-neo .cm-number { color:#75438a; }
.cm-s-neo .cm-node,.cm-s-neo .cm-tag { color:#9c3328; }
.cm-s-neo .cm-string { color:#b35e14; }
.cm-s-neo .cm-variable,.cm-s-neo .cm-qualifier { color:#047d65; }


/* Editor styling */

.cm-s-neo pre {
  padding:0;
}

.cm-s-neo .CodeMirror-gutters {
  border:none;
  border-right:10px solid transparent;
  background-color:transparent;
}

.cm-s-neo .CodeMirror-linenumber {
  padding:0;
  color:#e0e2e5;
}

.cm-s-neo .CodeMirror-guttermarker { color: #1d75b3; }
.cm-s-neo .CodeMirror-guttermarker-subtle { color: #e0e2e5; }

.cm-s-neo .CodeMirror-cursor {
  width: auto;
  border: 0;
  background: rgba(155,157,162,0.37);
  z-index: 1;
}

@keyframes _1a0h8ba1 {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
._1a0h8ba0 {
  background-color: var(--_7ckc3k1b);
}
._1a0h8ba3 {
  background-color: var(--_7ckc3k17);
  color: var(--_7ckc3k11);
  min-width: 50px;
  margin-right: 4px;
  padding-right: 8px;
  animation-name: _1a0h8ba1;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
._1a0h8ba4 {
  width: 1em;
  padding: 0 8px;
}
._1a0h8ba6::after {
  content: "-";
}
._1a0h8ba8::after {
  content: "+";
  color: var(--_7ckc3k12);
}
.react-codemirror2 {
  height: 100%;
  background-color: var(--_7ckc3k19);
}
.CodeMirror {
  height: 100%;
  width: 100%;
  font-family: var(--_7ckc3k1);
  position: relative;
  z-index: 0;
}
.CodeMirror-gutters {
  min-width: var(--_7ckc3kd);
  box-sizing: border-box;
  padding-left: 8px;
}
.CodeMirror pre, .CodeMirror-linenumber {
  font-size: 16px;
}
.CodeMirror-lines {
  padding: 16px 0;
}
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  box-shadow: var(--_7ckc3k1d);
  border-radius: var(--_7ckc3ka);
  background-color: var(--_7ckc3k19);
  font-size: 90%;
  line-height: 150%;
  font-family: var(--_7ckc3k1);
  max-height: 20em;
  overflow-y: auto;
}
[data-playroom-dark] .CodeMirror-hints {
  background-color: var(--_7ckc3k18);
}
.CodeMirror-hint {
  margin: 0;
  padding: 4px 8px;
  border-radius: var(--_7ckc3k9);
  white-space: pre;
  color: var(--_7ckc3kq);
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background-color: var(--_7ckc3k15);
  color: var(--_7ckc3kz);
}
.CodeMirror-linenumbers {
  min-width: 50px;
}
.CodeMirror-foldmarker {
  color: var(--_7ckc3k12);
  font-family: arial;
  cursor: pointer;
  padding: 0 var(--_7ckc3k8);
}
.cm-s-neo.CodeMirror {
  background-color: var(--_7ckc3k19);
  color: var(--_7ckc3kq);
}
.cm-s-neo .CodeMirror-cursor {
  background-color: var(--_7ckc3ky);
  width: 2px;
}
.cm-s-neo .CodeMirror-gutters {
  background-color: var(--_7ckc3k19);
  border: none;
}
.cm-s-neo .CodeMirror-gutters::after {
  content: "";
  background-color: var(--_7ckc3k19);
  position: absolute;
  right: 2px;
  height: 100%;
  box-shadow: 0 0 10px 5px var(--_7ckc3k19);
}
.cm-s-neo .CodeMirror-selected {
  background: var(--_7ckc3k1b);
}
.cm-s-neo .CodeMirror-activeline-background {
  background: transparent;
}
.cm-s-neo .CodeMirror-guttermarker-subtle {
  display: flex;
  justify-content: center;
  color: var(--_7ckc3ky);
  transition: var(--_7ckc3kh);
}
.cm-s-neo .CodeMirror-guttermarker-subtle:not(:hover):not(._1a0h8ba8) {
  color: var(--_7ckc3kx);
}
.cm-s-neo .CodeMirror-linenumber {
  min-width: 50px;
  color: var(--_7ckc3ky);
  transition: var(--_7ckc3kh);
}
.cm-s-neo .CodeMirror-linenumber:not(:hover):not(.cm-s-neo .CodeMirror-activeline .CodeMirror-linenumber) {
  color: var(--_7ckc3kx);
}
.cm-s-neo .cm-tag {
  color: var(--_7ckc3kr);
}
.cm-s-neo .cm-attribute,.cm-s-neo .cm-keyword,.cm-s-neo .cm-property {
  color: var(--_7ckc3ks);
}
.cm-s-neo .cm-string {
  color: var(--_7ckc3kt);
}
.cm-s-neo .cm-atom {
  color: var(--_7ckc3ku);
}
.cm-s-neo .cm-variable {
  color: var(--_7ckc3kv);
}
.cm-s-neo .cm-number {
  color: var(--_7ckc3kw);
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--_7ckc3k1a);
}
html[data-playroom-dark] {
  color-scheme: dark;
}
body {
  margin: 0;
}
._17gn29c3 {
  position: absolute !important;
}
._17gn29c6 {
  max-width: 90vw;
}
._17gn29c6._17gn29c4 {
  transform: translateX(100%);
}
._17gn29c8 {
  max-height: 90vh;
}
._17gn29c8._17gn29c4 {
  transform: translateY(100%);
}
._17gn29cb._17gn29c9 {
  width: 60px;
}
._17gn29cd {
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  min-width: var(--_7ckc3ke);
  height: var(--_7ckc3ke);
}
._17gn29cd::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: currentColor;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--_7ckc3kb);
  transition: var(--_7ckc3kf);
}
._17gn29cd:not(:hover):not(:focus) {
  opacity: 0.3;
}
._17gn29cd:hover::before, ._17gn29cd:focus::before {
  opacity: 0.05;
}
._17gn29cf {
  right: 60px;
}
