:root {
  --_7ckc3k0: Helvetica, arial, sans-serif;
  --_7ckc3k1: Source Code Pro, Firacode, Hasklig, Menlo, monospace;
  --_7ckc3k2: normal 10px Helvetica, arial, sans-serif;
  --_7ckc3k3: normal 12px Helvetica, arial, sans-serif;
  --_7ckc3k4: normal 14px Helvetica, arial, sans-serif;
  --_7ckc3k5: normal 16px/1.3em Helvetica, arial, sans-serif;
  --_7ckc3k6: 100;
  --_7ckc3k7: 700;
  --_7ckc3k8: 4px;
  --_7ckc3k9: 2px;
  --_7ckc3ka: 4px;
  --_7ckc3kb: 6px;
  --_7ckc3kc: 100%;
  --_7ckc3kd: 70px;
  --_7ckc3ke: 44px;
  --_7ckc3kf: opacity 300ms ease, transform 300ms ease;
  --_7ckc3kg: opacity 200ms ease, transform 200ms ease;
  --_7ckc3kh: opacity 100ms ease, transform 100ms ease;
  --_7ckc3ki: 0;
  --_7ckc3kj: 2px;
  --_7ckc3kk: 4px;
  --_7ckc3kl: 6px;
  --_7ckc3km: 12px;
  --_7ckc3kn: 16px;
  --_7ckc3ko: 20px;
  --_7ckc3kp: 40px;
}
:root {
  --_7ckc3kq: #000;
  --_7ckc3kr: #040080;
  --_7ckc3ks: #005ad2;
  --_7ckc3kt: #00439c;
  --_7ckc3ku: #00439c;
  --_7ckc3kv: #0088ff;
  --_7ckc3kw: #75438a;
  --_7ckc3kx: #a7a7a7;
  --_7ckc3ky: #515151;
  --_7ckc3kz: #fff;
  --_7ckc3k10: #a7a7a7;
  --_7ckc3k11: #cd193d;
  --_7ckc3k12: #005ad2;
  --_7ckc3k13: #1da584;
  --_7ckc3k14: rgba(0, 0, 0, .05);
  --_7ckc3k15: #005ad2;
  --_7ckc3k16: #c5f5e9;
  --_7ckc3k17: #fee1e9;
  --_7ckc3k18: #eeeeee;
  --_7ckc3k19: #fff;
  --_7ckc3k1a: #f4f4f4;
  --_7ckc3k1b: #e5f3ff;
  --_7ckc3k1c: #eeeeee;
  --_7ckc3k1d: 0 2px 8px rgba(18, 21, 26, 0.3);
  --_7ckc3k1e: 0 0 0 5px #e5f3ff;
}
:root[data-playroom-dark] {
  --_7ckc3kq: #f6f8fa;
  --_7ckc3kr: #c8e1f7;
  --_7ckc3ks: #68aeea;
  --_7ckc3kt: #97c8f1;
  --_7ckc3ku: #97c8f1;
  --_7ckc3kv: #3e8fe0;
  --_7ckc3kw: #aa83f2;
  --_7ckc3kx: #3d4b63;
  --_7ckc3ky: #f6f8fa;
  --_7ckc3kz: #000;
  --_7ckc3k10: #828ea4;
  --_7ckc3k11: #fa6b6c;
  --_7ckc3k12: #3e8fe0;
  --_7ckc3k13: #28b888;
  --_7ckc3k14: rgba(0, 0, 0, .15);
  --_7ckc3k15: #3e8fe0;
  --_7ckc3k16: #195546;
  --_7ckc3k17: #4c1a20;
  --_7ckc3k18: #1c2230;
  --_7ckc3k19: #0f131b;
  --_7ckc3k1a: #0a0c11;
  --_7ckc3k1b: rgba(41,111,192,0.15);
  --_7ckc3k1c: #1c2230;
  --_7ckc3k1d: 0 0 10px -2px #2d3648;
  --_7ckc3k1e: 0 0 0 5px rgba(104,174,234,0.4);
}
._7ckc3k1f {
  position: absolute;
}
._7ckc3k1g {
  position: relative;
}
._7ckc3k1h {
  position: fixed;
}
._7ckc3k1i {
  top: 0;
}
._7ckc3k1j {
  bottom: 0;
}
._7ckc3k1k {
  left: 0;
}
._7ckc3k1l {
  right: 0;
}
._7ckc3k1m {
  display: none;
}
._7ckc3k1n {
  display: flex;
}
._7ckc3k1o {
  display: block;
}
._7ckc3k1p {
  display: inline;
}
._7ckc3k1q {
  flex-direction: row;
}
._7ckc3k1r {
  flex-direction: column;
}
._7ckc3k1s {
  flex-direction: row-reverse;
}
._7ckc3k1t {
  flex-wrap: wrap;
}
._7ckc3k1u {
  justify-content: stretch;
}
._7ckc3k1v {
  justify-content: flex-start;
}
._7ckc3k1w {
  justify-content: center;
}
._7ckc3k1x {
  justify-content: flex-end;
}
._7ckc3k1y {
  justify-content: space-around;
}
._7ckc3k1z {
  justify-content: space-between;
}
._7ckc3k20 {
  align-items: stretch;
}
._7ckc3k21 {
  align-items: flex-start;
}
._7ckc3k22 {
  align-items: center;
}
._7ckc3k23 {
  align-items: flex-end;
}
._7ckc3k24 {
  padding-top: var(--_7ckc3ki);
}
._7ckc3k25 {
  padding-top: var(--_7ckc3kj);
}
._7ckc3k26 {
  padding-top: var(--_7ckc3kk);
}
._7ckc3k27 {
  padding-top: var(--_7ckc3kl);
}
._7ckc3k28 {
  padding-top: var(--_7ckc3km);
}
._7ckc3k29 {
  padding-top: var(--_7ckc3kn);
}
._7ckc3k2a {
  padding-top: var(--_7ckc3ko);
}
._7ckc3k2b {
  padding-top: var(--_7ckc3kp);
}
._7ckc3k2c {
  padding-bottom: var(--_7ckc3ki);
}
._7ckc3k2d {
  padding-bottom: var(--_7ckc3kj);
}
._7ckc3k2e {
  padding-bottom: var(--_7ckc3kk);
}
._7ckc3k2f {
  padding-bottom: var(--_7ckc3kl);
}
._7ckc3k2g {
  padding-bottom: var(--_7ckc3km);
}
._7ckc3k2h {
  padding-bottom: var(--_7ckc3kn);
}
._7ckc3k2i {
  padding-bottom: var(--_7ckc3ko);
}
._7ckc3k2j {
  padding-bottom: var(--_7ckc3kp);
}
._7ckc3k2k {
  padding-left: var(--_7ckc3ki);
}
._7ckc3k2l {
  padding-left: var(--_7ckc3kj);
}
._7ckc3k2m {
  padding-left: var(--_7ckc3kk);
}
._7ckc3k2n {
  padding-left: var(--_7ckc3kl);
}
._7ckc3k2o {
  padding-left: var(--_7ckc3km);
}
._7ckc3k2p {
  padding-left: var(--_7ckc3kn);
}
._7ckc3k2q {
  padding-left: var(--_7ckc3ko);
}
._7ckc3k2r {
  padding-left: var(--_7ckc3kp);
}
._7ckc3k2s {
  padding-right: var(--_7ckc3ki);
}
._7ckc3k2t {
  padding-right: var(--_7ckc3kj);
}
._7ckc3k2u {
  padding-right: var(--_7ckc3kk);
}
._7ckc3k2v {
  padding-right: var(--_7ckc3kl);
}
._7ckc3k2w {
  padding-right: var(--_7ckc3km);
}
._7ckc3k2x {
  padding-right: var(--_7ckc3kn);
}
._7ckc3k2y {
  padding-right: var(--_7ckc3ko);
}
._7ckc3k2z {
  padding-right: var(--_7ckc3kp);
}
._7ckc3k30 {
  margin-top: var(--_7ckc3ki);
}
._7ckc3k31 {
  margin-top: var(--_7ckc3kj);
}
._7ckc3k32 {
  margin-top: var(--_7ckc3kk);
}
._7ckc3k33 {
  margin-top: var(--_7ckc3kl);
}
._7ckc3k34 {
  margin-top: var(--_7ckc3km);
}
._7ckc3k35 {
  margin-top: var(--_7ckc3kn);
}
._7ckc3k36 {
  margin-top: var(--_7ckc3ko);
}
._7ckc3k37 {
  margin-top: var(--_7ckc3kp);
}
._7ckc3k38 {
  margin-bottom: var(--_7ckc3ki);
}
._7ckc3k39 {
  margin-bottom: var(--_7ckc3kj);
}
._7ckc3k3a {
  margin-bottom: var(--_7ckc3kk);
}
._7ckc3k3b {
  margin-bottom: var(--_7ckc3kl);
}
._7ckc3k3c {
  margin-bottom: var(--_7ckc3km);
}
._7ckc3k3d {
  margin-bottom: var(--_7ckc3kn);
}
._7ckc3k3e {
  margin-bottom: var(--_7ckc3ko);
}
._7ckc3k3f {
  margin-bottom: var(--_7ckc3kp);
}
._7ckc3k3g {
  margin-left: var(--_7ckc3ki);
}
._7ckc3k3h {
  margin-left: var(--_7ckc3kj);
}
._7ckc3k3i {
  margin-left: var(--_7ckc3kk);
}
._7ckc3k3j {
  margin-left: var(--_7ckc3kl);
}
._7ckc3k3k {
  margin-left: var(--_7ckc3km);
}
._7ckc3k3l {
  margin-left: var(--_7ckc3kn);
}
._7ckc3k3m {
  margin-left: var(--_7ckc3ko);
}
._7ckc3k3n {
  margin-left: var(--_7ckc3kp);
}
._7ckc3k3o {
  margin-right: var(--_7ckc3ki);
}
._7ckc3k3p {
  margin-right: var(--_7ckc3kj);
}
._7ckc3k3q {
  margin-right: var(--_7ckc3kk);
}
._7ckc3k3r {
  margin-right: var(--_7ckc3kl);
}
._7ckc3k3s {
  margin-right: var(--_7ckc3km);
}
._7ckc3k3t {
  margin-right: var(--_7ckc3kn);
}
._7ckc3k3u {
  margin-right: var(--_7ckc3ko);
}
._7ckc3k3v {
  margin-right: var(--_7ckc3kp);
}
._7ckc3k3w {
  overflow: hidden;
}
._7ckc3k3x {
  overflow: auto;
}
._7ckc3k3y {
  box-shadow: var(--_7ckc3k1d);
}
._7ckc3k3z {
  box-shadow: var(--_7ckc3k1e);
}
._7ckc3k40 {
  border-radius: var(--_7ckc3k9);
}
._7ckc3k41 {
  border-radius: var(--_7ckc3ka);
}
._7ckc3k42 {
  border-radius: var(--_7ckc3kb);
}
._7ckc3k43 {
  border-radius: var(--_7ckc3kc);
}
._7ckc3k44 {
  transition: var(--_7ckc3kf);
}
._7ckc3k45 {
  transition: var(--_7ckc3kg);
}
._7ckc3k46 {
  transition: var(--_7ckc3kh);
}
._7ckc3k47 {
  cursor: pointer;
}
._7ckc3k48 {
  pointer-events: none;
}
._7ckc3k49 {
  pointer-events: auto;
}
._7ckc3k4a {
  user-select: none;
}
._7ckc3k4b {
  appearance: none;
}
._7ckc3k4c {
  opacity: 0;
}
._7ckc3k4d {
  z-index: 0;
}
._7ckc3k4e {
  z-index: 1;
}
._7ckc3k4f {
  font: var(--_7ckc3k2);
}
._7ckc3k4g {
  font: var(--_7ckc3k3);
}
._7ckc3k4h {
  font: var(--_7ckc3k4);
}
._7ckc3k4i {
  font: var(--_7ckc3k5);
}
._7ckc3k4j {
  font-weight: var(--_7ckc3k6);
}
._7ckc3k4k {
  font-weight: var(--_7ckc3k7);
}
._7ckc3k4l {
  width: 100%;
}
._7ckc3k4m {
  width: 100vw;
}
._7ckc3k4n {
  height: 100%;
}
._7ckc3k4o {
  height: 100vh;
}
._7ckc3k4p {
  white-space: nowrap;
}
._7ckc3k4q {
  box-sizing: border-box;
}
._7ckc3k4r {
  text-align: center;
}
._7ckc3k4s {
  text-align: left;
}
._7ckc3k4t {
  text-align: right;
}
._7ckc3k4u {
  border: 0;
}
@keyframes _1p607bc4 {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
  50%, 100% {
    stroke-dashoffset: 0;
  }
}
._1p607bc1 {
  z-index: 100;
  background: #1c2230;
  color: var(--_7ckc3kz);
}
._1p607bc3 > svg > path {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 1000;
  animation-name: _1p607bc4;
  animation-duration: 1300ms;
  animation-delay: 500ms;
  animation-direction: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
  animation-fill-mode: forwards;
}
._1p607bc5 {
  margin: 0 auto;
  width: 40vw;
  max-width: 200px;
}
._6sibzg1 {
  color: var(--_7ckc3ky);
}
._6sibzg2 {
  color: var(--_7ckc3k11);
}
._6sibzg9 {
  text-overflow: ellipsis;
}
