@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/ProximaNova/proximanova-thin-webfont.woff2') format('woff2'),
    url('./fonts/ProximaNova/proximanova-thin-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/ProximaNova/proximanova-light-webfont.woff2')
      format('woff2'),
    url('./fonts/ProximaNova/proximanova-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/ProximaNova/proximanova-regular-webfont.woff2')
      format('woff2'),
    url('./fonts/ProximaNova/proximanova-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/ProximaNova/proximanova-medium-webfont.woff2')
      format('woff2'),
    url('./fonts/ProximaNova/proximanova-medium-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/ProximaNova/proximanova-bold-webfont.woff2') format('woff2'),
    url('./fonts/ProximaNova/proximanova-bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/ProximaNova/proximanova-extrabold-webfont.woff2')
      format('woff2'),
    url('./fonts/ProximaNova/proximanova-extrabold-webfont.woff') format('woff');
}

html,
body {
  font-family: 'Proxima Nova', 'Open Sans', 'Gill Sans MT', 'Gill Sans', Corbel,
    Arial, sans-serif;
  background-color: red !important;
}
